*{
    box-sizing: border-box;
    font-family: ubuntu;
}

@font-face {
    font-family: ubuntu;
    src: url(./Ubuntu/Ubuntu-Regular.ttf);
}


.container{
    display: flex;
    flex-wrap: wrap;
}

.topBar{
    width: 100%;
    height: 10vh;
    left: 10%;
    top: 0px;
    
    background: #2D6B8E;
}

aside{
    width: 7%;
    
    background-color: #00427E;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 20px;
    flex-grow: 1;


    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;

}



html, body{
    padding: 0;
    margin: 0;
    height:100%;  
    display:flex;
    flex-direction:column;
    height: 100%;
}

.asideBar{
    width:70%;

    display: block;
    background: #FFFFFF;
    border-radius: 192px;

    margin-bottom: 10px;
    color: #fff;

    text-align: center;
    user-select: none;
}

.mainHeader{
    margin-top: -3%;
    background-color: #12CCE5;
    border-radius: 33px;
    height: fit-content;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 4rem;
    height: 20%;
}

.test1{

    margin: 0;
}

main{
    width: 93%;
    display: flex;
    padding-top: 4%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(90vh);
    row-gap: 20px;
    height: fit-content;
    align-items: center;
    flex-grow: 1;
}

main {
	background: linear-gradient(-45deg, #52d4ee, #49e2c6, #2347d5, #8388a4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main > nav{
    width: 80%;
    background-color: #1097AA;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff;
    padding-top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
    border: 7px #0a001b solid;
}

main > nav > h2{
    font-size: 4rem;
    margin:0;
    margin-bottom: 20px;
}

.navProper{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navProper > a{
    width: 30%;
    height: 30%;
    max-width: 30%;
    max-height: 30%;
    border-radius: 50px;
}

img{
    width: 100%;
    height: auto;
    border-radius: inherit;
    border: 10px solid #000;
    transition: .2s transform;
}

img:hover{
    transform: scale(1.05);
}

