.topBar, .baseNav{
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: x-large;
    column-gap: 3rem;
    justify-content:space-between;
}


.topBar > a, .baseNav > a{
    text-decoration: none;
    color: inherit;
}
.topBar{
    position: sticky;
    top: 0;
}