.topBar, .baseNav{
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.5vw;
    column-gap: 3rem;
    justify-content:space-between;
}

.topBar > a, .baseNav > a{
    text-decoration: none;
    color: inherit;

    user-select: none;

    transition: .2s transform;
}

.topBar > a:hover, .baseNav > a:hover{
    transform: scale(1.1);
}

.topBar{
    position: sticky;
    top: 0;
    z-index: 1;
}
