*{
    box-sizing: border-box;
    font-family: ubuntu;
}

@font-face {
    font-family: ubuntu;
    src: url(../Ubuntu-Regular.ttf);
}



.container{
    display: flex;
    flex-wrap: wrap;
}

.topBar{
    width: 100%;
    height: 10vh;
    left: 10%;
    top: 0px;
    
    background: #2D6B8E;
}

aside{
    width: 7%;
    
    background-color: #00427E;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 20px;

    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
}



html, body{
    padding: 0;
    margin: 0;
}

.asideBar{
    width:70%;

    display: block;
    background: #FFFFFF;
    border-radius: 192px;

    margin-bottom: 10px;
    color: #fff;

    text-align: center;
    user-select: none;

    
}

.mainHeader{
    margin-top: -3.6%;
    background-color: #12CCE5;
    border-radius: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: fit-content;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 4rem;
    height: 20%;
}

.test1{
    padding: 0;
    margin: 0;
}

main{
    background-color: #002D57;
    display: flex;
    padding-top: 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(90vh);
    height: fit-content;
    row-gap: 20px;
    background-color: #002D57;
    flex-grow: 1;
}

main > article{
    width: 47%;
    background-color: #4CC5EC;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 7px #0a001b solid;
}

main > article > h2{
    font-size: 4rem;
    margin:0;
    margin-bottom: 20px;
}

.navProper{
    display: flex;
    height: 700px;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

section{
    width:40%;
    text-align: center;
    background-color: #4F4B60;
    font-size: larger;
    padding: 20px;
    border-radius: 30px;
    margin: 0;
}

textarea{
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 16px;
    background-color: #f8f8f8;
    resize: none;
    padding: 3px;
}

input{
    
    border-radius: 16px;
}

#reason1{
    height: 100px;
}

textarea:focus{
    outline: none;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red;
}

.button{
    background-color: #001F31;
    width: 40%;
    text-align: center;
    border-radius: 35px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    cursor: pointer;
}

.address{
    height: 75px;
}

input[type=text]{
    border-radius: 10px;
}

::placeholder{
    color: #555;
    opacity: .5;
}

#s2{
    height: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

h3{
    width: 100%;
}

.mainSec{
    width: 100%;
}

input[type=number] {
    appearance: textfield;
    text-align: center;
}


main {
	background: linear-gradient(-45deg, #52d4ee, #49e2c6, #2347d5, #8388a4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
